@import "tailwindcss";
@plugin "@tailwindcss/typography";
@config "../../tailwind.config.ts";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --muted: #3e97ff;
  --muted-foreground: #5e6278;
  --hover: #086de3;
  --hover-foreground: #f8f8f8;
  --font-roboto: "Roboto", sans-serif;
  --font-dm-serif: "DM Serif Display", serif;
  --font-robotoCondensed: "Roboto Condensed", sans-serif;
  --boxShadowBtn: 0px 0px 0px 1px #121212;
  --boxShadowInput: 0px 1px 1px 0px rgba(18, 18, 18, 0.1),
    0px 0px 0px 1px rgba(18, 18, 18, 0.1);
  --boxShadowInputHover: 0px 0px 0px 4px rgba(18, 18, 18, 0.1),
    0px 1px 1px 0px rgba(18, 18, 18, 0.1), 0px 0px 0px 1px rgba(18, 18, 18, 0.2),
    0px 1px 3px 0px rgba(18, 18, 18, 0.1);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto), sans-serif;
}

.no-links a {
  pointer-events: none;
  color: inherit;
  text-decoration: none;
  cursor: default;
}

.btn-gradient {
  background: radial-gradient(
      100% 100% at 50% 0%,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    #09090b;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  box-shadow: 0px 0px 0px 1px #121212;
}

.btn-gradient:hover {
  background: radial-gradient(
      100% 100% at 50% 0%,
      rgba(255, 255, 255, 0.36) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    #18181b;
}
